@import "bootstrap"
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow')
$background: #F3EFF5
$primary-color: #929BB5
$font-stack: "Arial Black", Gadget, sans-serif
$header-font: Impact, Charcoal, sans-serif
$font-color: #253031
$font-hover: #315659
$box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.1)
$google-font: 'Open Sans Condensed', sans-serif

html,
body,
ul,
ol
  font: 100% $header-font
  padding: 15px

p
  font-size: 24px
  color: $font-color

a
  font: 100% $font-stack
  font-color: $font-hover
  text-decoration: none
h1
  font: 100% $header-font
  font-size: 30px

#filmster
  font: 100% $header-font
  font-size: 30px
  text-decoration: none
  color: black

.words
  font: 100% $font-stack

input
  padding: 5px

#bar
  display: flex
  background-color: $background
  justify-content: space-between
  align-items: center
  // padding-top: 10px
  padding-left: 10px
  padding-right: 10px
  border-radius: 3px

.form-group
  margin-top: 12px

#film-container
  width: 90%

.commenter
  font-style: italic
  color: $font-color

.comment
  padding: 10px

.film
  width: 30%
  height: 50%
  background-color: $background
  margin: 5px
  padding: 20px
  padding-top: 24px
  display: flex
  justify-content: center
  -webkit-box-shadow: $box-shadow
  -moz-box-shadow: $box-shadow
  box-shadow: $box-shadow
  border-radius: 3px

.Titanic
  background-image: url(/assets/titanic.jpeg)
  background-repeat: no-repeat
  background-size: 100%

.Ghostbusters
  background-image: url(/assets/ghostbusters.jpeg)
  background-repeat: no-repeat
  background-size: 100%

.Star
  background-image: url(/assets/star_wars.jpeg)
  background-repeat: no-repeat
  background-size: 100%

.Pulp
  background-image: url(/assets/pulp_fiction.jpeg)
  background-repeat: no-repeat
  background-size: 100%

.Rocky
  background-image: url(/assets/rocky_horror.jpeg)
  background-repeat: no-repeat
  background-size: 100%

.Dark
  background-image: url(/assets/dark_knight.jpeg)
  background-repeat: no-repeat
  background-size: 100%

.Lord
  background-image: url(/assets/lord_rings.jpeg)
  background-repeat: no-repeat
  background-size: 100%

.Shawshank
  background-image: url(/assets/dark_knight.jpeg)
  background-repeat: no-repeat
  background-size: 100%

.film-name
  color: white

.padding
  padding: 20px

.field
  padding: 10px

#search-form
  width: 30%

.actions
  margin: 10px auto
  padding-left: 10px

.review
  display:block
  margin: 0 auto
  max-width: 700px
  height: 80%
  background-color: $background
  margin: 5px
  -webkit-box-shadow: $box-shadow
  -moz-box-shadow: $box-shadow
  box-shadow: $box-shadow

.review-show
  display:block
  margin: 0 auto
  max-width: 500px
  height: 80%
  background-color: $background
  margin-bottom: 25px
  -webkit-box-shadow: $box-shadow
  -moz-box-shadow: $box-shadow
  box-shadow: $box-shadow

.user-action
  display:block
  margin: 0 auto
  max-width: 300px
  height: 80%
  background-color: $background
  margin: 5px
  -webkit-box-shadow: $box-shadow
  -moz-box-shadow: $box-shadow
  box-shadow: $box-shadow
.user-links
  padding: 15px
#top-nav
  font: 100% $font-stack
  font-color: $font-color
  text-decoration: none

.top-bar.hover
  font-color: yellow
  text-decoration: underline

