<% @reviews.each do |review| %>
<h1><%=link_to review.film.name, film_path(review.film)%> </h1>
  <div class="review-show">
    <div class="padding">
	  <h3><%= review.title%></h3><br>
	  <%= review.rating %><br><br>
	  <p><%= review.body%></p><br>
    </div>
  </div>
<%end %>